@media (min-width: 300px) and (max-width: 600px) {

    .main {
        position: absolute;
        background: url(../img/bc-mobail.png) center no-repeat;
        background-size: cover;
        z-index: 1;
    }

    .header {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    .empty {
        flex-basis: auto;
        max-width: none;
    }

    .logotipus {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
    }

    .header-contacts {
        display: flex;
        font-size: 10px;
    }

    .button {
        display: flex;
        position: absolute;
        font-size: 10px;
        margin-right: -100px;
    }

    .txt {
        padding-right: 10px;
    }

    .dscr {
        display: block;
    }

    .trans {
        transform: rotate(90deg);
        margin-top: -100px;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    .all {
        align-self: center;
        margin-top: -80px;
        text-align: center;
    }

    .bottom {
        display: flex;
        flex-direction: column;
        margin-left: -270px;
    }

    .frame {
        left: auto;
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
    }

    .arrival {
        margin-left: -85px;
    }

    .departure {
        margin-left: 95px;
        margin-top: -35px;
    }

    .guests {
        margin-left: -85px;

    }

    .bottom_button {
        margin-left: 95px;
        margin-top: -35px;
        margin-bottom: 8px;
    }

    .logo {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
}

@media (min-width: 605px) and (max-width: 955px) {
    .header {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    .header-contacts {
        font-size: 12px;
    }

    .txt {
        padding-right: 30px;
    }

    .frame {
        display: none;
    }

    .discription {
        max-width: 1024px;
    }

    .txt1 {
        display: flex;
        position: absolute;
    }

    .text_bottom {
        font-size: 13px;
        padding-top: 10px;
        margin-right: -20px;
        margin-left: -20px;

    }

    .arrival,
    .departure,
    .guests,
    .bottom_button {
        margin-top: 5px;

    }

    .arrival {
        margin-right: -20px;
    }

    .bottom {
        padding-left: 370px;
        padding-top: 80px;
        position: sticky;
        display: flex;
        align-items: center;
    }

    .departure {
        margin-right: 10px;
    }

    .guests {
        margin-right: 10px;
    }

    .bottom_button {
        width: 100px;
        font-size: 13px;
    }

    .all {
        margin-left: 300px;
    }
}

@media (min-width: 956px) and (max-width: 1280px) {

    .header,
    .button {
        font-size: 11px;
    }

    .all {
        margin-left: 40px;
    }

    .discription {
        max-width: 1024px;
    }

    .text_bottom {
        font-size: 14px;
        inline-size: max-content;
    }

    .bottom {
        margin-bottom: 10px;
    }
}

@media (min-width: 1281px) and (max-width: 1357px) {
    .bottom {
        margin-bottom: 20px;
    }
}

@media (min-width: 1358px) and (max-width: 1379px) {
    .bottom {
        position: static;
        display: flex;
        align-items: center;
    }
}

@media (min-width: 1379px) and (max-width: 1440px) {
    .container {
        max-width: 1440px;
    }

    .frame {
        left: 309px;
    }

    .bottom {
        display: inline-flex;
        padding-left: 500px;
        padding-bottom: 40px;
        position: static;
        align-items: center;
    }
}

@media (min-width: 1441px) and (max-width: 1650px) {
    .futer {
        margin-top: 250px;
    }

    .main {
        background-size: auto;
    }

    .bottom {
        position: absolute;

        top: 1035px;
        left: 230px;
    }

    .container {
        max-width: 1650px;
    }

    .frame {
        left: 500px;
    }

    .header {
        font-size: 20px;
    }

    .all {
        left: 70px;
    }
}

@media (min-width: 1651px) and (max-width: 2000px) {
    .futer {
        margin-top: 500px;
    }

    .bottom {
        position: absolute;
        bottom: 250px;
        left: 250px;
    }

    .container {
        max-width: 2000px;
    }

    .frame {
        left: 500px;
    }

    .header {
        font-size: 20px;
    }
}

@media (min-width: 2001px) and (max-width: 2150px) {
    .futer {
        margin-top: 500px;
    }

    .bottom {
        position: absolute;
        bottom: 250px;
        left: 400px;
        font-size: 20px;
    }

    .container {
        max-width: 2000px;
    }

    .frame {
        left: 500px;
    }

    .header {
        font-size: 20px;
    }
}
@media (min-width: 2151px) and (max-width: 2250px){
        .bottom{
            margin-top: 472px;
            padding-left: 770px;
        }
    }
@media (min-width: 2251px) and (max-width: 2370px){
        .bottom {
            margin-top: 446px;
            padding-left: 770px;
            display: flex;
            align-items: center;
            font-size:20px;
        }

        .departure, .guests, .arrival  {
            margin-right: 60px;
        }
        .dscr{
            margin-top: 160px;
        }
    }

@media (min-width: 2371px) and (max-width: 2560px){
    .header {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    .frame {
        left: 600px;
    }

    .discription {
        max-width: 2560px;
    }

    .text_bottom {
        font-size: 30px;
    }

    .bottom {
        padding-left: 770px;
        display: flex;
        align-items: center;
        font-size:20px;
        margin-top: 404px;
    }

    .departure, .guests, .arrival  {
        margin-right: 60px;
    }
    .departure{
        margin-left: 0;
    }
    .dscr{
        margin-top: 160px;
    }
}